@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Curso de Idiomas</h1>
    <p class="h5">
        <br />Portfolio .NET
    </p>
    <p class="text-info h5">
        <br />Programa CRUD no framework ASP.NET Core, padrão MVC
    </p>
    <p>- Fernando Lima -</p>
</div>
