@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Curso de Idiomas</h1>
    <p class="text-info h5">Meu primeiro programa demonstrando todas as funções CRUD<br />
        no framework ASP.NET Core</p>
    <p>- Fernando Lima -</p>
</div>
